<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
   <!--<add name="connectionStringSQLServer" connectionString="Data Source=localhost; Initial Catalog=sysadminVeritas; User Id=sa;Password=123456;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="connectionStringSQLServer" connectionString="Server=142.4.219.154\SQLEXP2016;Database=ponkast_sysadminveritas;uid=ponkast;pwd=sql123456;" providerName="System.Data.SqlClient"/>-->
  <add name="connectionStringSQLServer" connectionString="Server=SQL7004.site4now.net;Database=DB_A36555_sysadminveritas;uid=DB_A36555_sysadminveritas_admin;pwd=sql123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>